deep_translator==1.11.4
docx==0.2.4
fastapi==0.120.0
gradio==5.49.1
langchain==1.0.2
langchain_chroma==1.0.0
langchain_classic==1.0.0
langchain_community==0.4
langchain_core==1.0.1
langchain_openai==1.0.1
langchain_text_splitters==1.0.0
langdetect==1.0.9
langid==1.1.6
neo4j==6.0.2
nltk==3.9.2
plotly==6.3.1
pydantic==2.12.3
pytest==8.4.2
python-dotenv==1.2.1
pyvis==0.3.2
uvicorn==0.38.0
wikipedia==1.4.0
